.black-text {
    color: black;
}

.bold-text {
    font-weight: 900;
}

.txt-center {
    text-align: center;
}

.nowrap {
    white-space: nowrap;
}

.wrapper {
    background-image: url(../img/login_bg3.jpg);
}

.bold{
    font-weight: bold;
}

.text-base{
    color: #d69922;
}
